<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Africa</string>
	<string>Asia</string>
	<string>Europe</string>
	<string>North America</string>
	<string>South America</string>
	<string>Australia</string>
</array>
</plist>
